# This file specifies files that are *not* uploaded to Google Cloud
# using gcloud.
.gcloudignore
.git
.gitignore

# Node.js dependencies:
node_modules/

# Directories to ignore
cloud-run/
cloud-function/

# Files to ignore
*.md
.dockerignore
*.ps1
*.bat
*.lnk

# Keep only necessary files
!package.json
!package-lock.json
!server.js
!Dockerfile
!public/index.html